
.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
 
  .add-movie-button {
    margin-bottom: 20px;
  }

  .movie-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .movie-table th,
  .movie-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .movie-table th {
    background-color: #f2f2f2;
  }
  
  .movie-row:hover {
    background-color: #f9f9f9;
  }
  